.advantages__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #383A4C;
  margin-bottom: 25px;
}
.advantages__subtitle {
  position: relative;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: auto;
  color: #383A4C;
  margin-bottom: 50px;
}
.advantages__subtitle:before {
  position: absolute;
  content:"";
  width: 43px;
  height: 2px;
  left: 704px;
  top: 881px;

background: #383A4C;
  left: calc(50% - 50px);
  width: 43px;
  height: 2px;
  top: 10px;
  left: calc(50% - 86px);
  background-size: cover;
  background-color: #383A4C;
}
.advantages__subtitle:after {
  position: absolute;
  content:"";
  width: 43px;
  height: 2px;
  top: 10px;
  left: calc(50% + 44px);
  background-size: cover;
  background-color: #383A4C;
}
.advantages__text {
  max-width: 724px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #383A4C;
  margin-bottom: 50px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 196px;
  text-align: center;
}
.number__block {
  display: inline-block;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #23C7EC;
  padding: 32px 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}
.number__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #383A4C;
}
@media(max-width: 1040px) {
  .advantages__title  {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 23px;
  }
  .advantages__subtitle {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 65px;
  }
  .advantages__list {
    justify-content: space-around; 
  }
  .number__block {
    display: inline-block;
    width: 104px;
    height: 104px;
    padding: 22px 31px;
  }
  .number__text {
    font-size: 18px;
    line-height: 25px;
  }
}
@media(max-width: 768px) {
  .advantages__title {
    font-size: 20px;
    line-height: 23px;
  }
  .advantages__subtitle {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
  }
  .advantages__text {
    font-size: 12px;
    line-height: 17px;
  }
  
}

@media(max-width: 320px) {
  .advantages__container {
    padding: 0 15px;
  }
  .advantages__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  
}