.feedback {
  background-image: url('../img/feed-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.feedback__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.feedback__sub {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  width: 423px;
  gap: 21px;
  
}
.form__input {
  height: 44px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  border-radius: 50px;
  padding: 9px 26px;
  background: transparent;
}
.form__button {
  width: 218px;
  height: 48px;
  background: #15A9CB;
  box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px; 
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.feedback__policy {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.policy__link {
  font-size: 20px;
  line-height: 23px;
  color: #4A76A8;
}
@media(max-width: 1040px) {
  .feedback__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 17px;
    margin-bottom: 16px;
  }
  .feedback__sub {
    font-size: 20px;
    line-height: 23px;
  }
  .form__wrapper {
    width: 379px; 
  }
}