.footer {
  background: #2F324B;
  padding: 46px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}
.footer__author {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}

.footer__author_mob {
    display: none;
}
.phone__icon {
  display: none;
 }

.logo__copy {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  min-width: 140px;
  color: #FFFFFF;
}
.footer__logo {
  width: 214px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media(max-width: 1040px) {
  .footer {
    width: 1040px;
    padding: 30px 0;
  }
  .footer__container {
    padding: 0 45px;
  }
}

@media(max-width: 320px) {
  .footer {
    width: 320px;
    padding: 0; 
  }
  .footer__container {
    width: 320px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .footer__wrap {
    padding: 45px 0;
  }
  .footer__logo {
    display: flex;
    gap: 19px;
  }
  .logo__image {
    width: 30px;
    height: 30px;
  }
  .logo__copy {
    font-weight: 500;
    font-size: 8px;
    line-height: 11px;
    min-width: 140px;
    color: #FFFFFF;
  }
  .footer__author {
    display: none;
  }
  .phone__text,
  .phone__link {
    display: none;
  }
  .phone__icon {
    display: block;
   }

   .footer__author_mob {
    display: block;
    text-align: center;
    padding: 15px 0;
    background-color: #2A2C3F;
   }
  
}